<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.TApiUserMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.TApiUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="api_pkid" property="apiPkid" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="docking_name" property="dockingName" jdbcType="VARCHAR" />
    <result column="docking_mobile" property="dockingMobile" jdbcType="VARCHAR" />
    <result column="docking_email" property="dockingEmail" jdbcType="VARCHAR" />
    <result column="docking_qq" property="dockingQq" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="private_key" property="privateKey" jdbcType="VARCHAR" />
    <result column="enable_ip_white_list" property="enableIpWhiteList" jdbcType="BIT" />
    <result column="ip_white_list" property="ipWhiteList" jdbcType="VARCHAR" />
    <result column="on_off" property="onOff" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>